/* CSS declarations go here */
.white-item {
    color: white!important;
}

/* HELPERS */
.center-align {
    text-align: center;
}

.left-align {

}

.right-align {

}

.justify-align {

}

.page-header {

}